<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper"  style="z-index: 999999999;background-color:white;">

      <div class="list-group list-group-flush" style="height:800px !important;">
        <a  [routerLink]="['/home']" class="list-group-item list-group-item-action bg-light" style="margin-top: 40px !important;"  >Dashboard</a>
        <a [routerLink]="['/posts']"   class="list-group-item list-group-item-action bg-light"  *ngIf="loginStatus">Create Blog</a>
        <a [routerLink]="['/update-delete-posts']"   class="list-group-item list-group-item-action bg-light"  *ngIf="loginStatus">update/Delete Blog</a>
        <a [routerLink]="['/login']"    class="list-group-item list-group-item-action bg-light" style="font-size:medium;" *ngIf="loginStatus == false">Login</a>
        <a href="javascript:void(0)"   class="list-group-item list-group-item-action bg-light" style="font-size:medium;" *ngIf="loginStatus"
         (click)="Logout()">Logout</a>
       </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn " id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
        <h1 class="h1Style"> Blog For You </h1>
      </nav>
