.grid {
    background-color: #fff;
    padding: 15px;
    margin: 20px 15px 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.cat {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #6220d9;
    text-transform: uppercase;
}
